<div class="card text-center position-absolute top-50 start-50 translate-middle" style="width: 35%;">
  <div class="card-body">
    <h1>Login</h1>
    <form>
      <p>
        <input class="form-control" type="text" name="username" id="userName" placeholder="User Name">
      </p>
      <p>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
      </p>
      <p>
        <button class="btn btn-light" id="login">Login</button>
        <a href="/register" class="btn btn-light">Register</a>
      </p>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  document.getElementById('login').addEventListener('click', event => {
    event.preventDefault()
    axios.post('/api/users/login', {
      username: document.getElementById('userName').value,
      password: document.getElementById('password').value
    })
      .then(({ data: token }) => {
        if (token) {
          localStorage.setItem('token', token)
          window.location = '/'
        } else {
          alert('Invalid username or password')
        }
      })
      .catch(err => console.error(err))
  })

</script>