<br>
<div class="container">
  <div class="row">
    <div class="card">
      <form>
        <div class="mb-3">
          <label for="postTitle" class="form-label" style="font-size: 40px;">Blog Title</label>
          <input type="title" class="form-control" id="postTitle" placeholder="Enter Title Of Blog Here">
        </div>
        <div class="mb-3">
          <label for="postBlog" class="form-label" style="font-size: 40px;">Post Blog</label>
          <textarea class="form-control" id="postBlog" rows="3"></textarea>
        </div>
        <button type="submit" id="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  document.getElementById('submit').addEventListener('click', event => {
    event.preventDefault()
    // create new blog post
    console.log(document.getElementById('postBlog').value)
    axios.post('/api/blogs', {
      title: document.getElementById('postTitle').value,
      text: document.getElementById('postBlog').value
    }, {
      headers: {
        'Authorization': `Bearer ${localStorage.getItem('token')}`
      }
    })
      .then((post) => {
        console.log('ping')
        window.location = `/dashboard`
      })
      .catch(err => console.log(err))
  })
</script>